// Variables
$white: #ffffff;
$grey: #d8d8d8;
$blue: #41a8e2;
$black: #222222;
$darkgrey: #a5a5a5;


// Mixins
@mixin flex($direction, $justifycontent, $alignitems) {
  display: flex;
  flex-direction: $direction;
  align-items: $alignitems;
  justify-content: $justifycontent;
}

// Imports
@import "./fonts.scss";

// General styles
* {
  margin: 0;
  padding: 0;
}
#root {
  max-width: 375px;
  max-height: 812px;
  border: 1px solid $black;
  overflow: scroll;
}
a {
  text-decoration: none;
  color: $black;
}
h1 {
  font-family: "WEA New Display";
  font-weight: 500;
  line-height: 42px;
  font-size: 36px;
  letter-spacing: -0.6px;
  text-align: center;
}
h2 {
  font-family: "WEA New Display";
  font-weight: 450;
  line-height: 24px;
  font-size: 20px;
}
li {
  font-family: "WEA Sans";
  font-weight: 450;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: $darkgrey;
}
p {
  font-family: "WEA Sans";
  font-weight: 400;
  line-height: 22px;
  font-size: 16px;
  color: $black;
}
