@font-face {
  font-family: "WEA New Display";
  src: url("../assets/fonts/WEANewDisplay-RegularWEB.woff") format("woff"),
    url("../assets/fonts/WEANewDisplay-RegularWEB.woff2") format("woff2");
  font-display: auto;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "WEA New Display";
  src: url("../assets/fonts/WEANewDisplay-BookWEB.woff") format("woff"),
    url("../assets/fonts/WEANewDisplay-BookWEB.woff2") format("woff2");
  font-display: auto;
  font-weight: 450;
  font-style: normal;
}
@font-face {
  font-family: "WEA New Display";
  src: url("../assets/fonts/WEANewDisplay-MediumWEB.woff") format("woff"),
    url("../assets/fonts/WEANewDisplay-MediumWEB.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "WEA Sans";
  src: url("../assets/fonts/WEASans-RegularWEB.woff") format("woff"),
    url("../assets/fonts/WEASans-RegularWEB.woff2") format("woff2");
  font-display: auto;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "WEA Sans";
  src: url("../assets/fonts/WEASans-BookWEB.woff") format("woff"),
    url("../assets/fonts/WEASans-BookWEB.woff2") format("woff2");
  font-display: auto;
  font-weight: 450;
  font-style: normal;
}
@font-face {
  font-family: "WEA Sans";
  src: url("../assets/fonts/WEASans-BoldWEB.woff") format("woff"),
    url("../assets/fonts/WEASans-BoldWEB.woff2") format("woff2");
  font-display: auto;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "WEA Sans";
  src: url("../assets/fonts/WEASans-ExtraboldWEB.woff") format("woff"),
    url("../assets/fonts/WEASans-ExtraboldWEB.woff2") format("woff2");
  font-display: auto;
  font-weight: 800;
  font-style: normal;
}
